docs_dir: "src/docs"
site_name: "Hello Cloud"
site_url: "https://github.com/ericis/hello-cloud/#readme"
site_author: "Ourchitecture"
copyright: "Creative Commons Zero v1.0 Universal"
theme:
  name: "material"
  logo: "img/logo.png"
  favicon: "img/favicon.png"
  features:
    - header.autohide
    - navigation.indexes
nav:
  - "Home": "index.md"
  - "Web Services":
      - ".NET": "./services/dotnet.md"
      - "Java with SpringBoot": "./services/java-springboot.md"
      - "NodeJS with ExpressJS": "./services/nodejs-expressjs.md"
  - "Contribute": "contribute.md"
  - "Comments": "comments.md"
  - "License": "license.md"
  - "Code (GitHub)": "https://github.com/ericis/hello-cloud/"
extra:
  social:
    - icon: "fontawesome/brands/github"
      link: "https://github.com/ericis/hello-cloud/"
      name: "GitHub"
  disqus: hello-cloud
  analytics:
    provider: google
    property: G-YWLCJCMGFX
